body {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    margin: 0;
    color: #333;
}

main {
    padding: 20px;
}

.hero {
    background: #0066cc;
    color: white;
    text-align: center;
    padding : 40px 20px ;
}

.products {
    display :flex;
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

.btn {
    display :inline-block;
    margin-top:10px;
    background: #25d366;
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    border-radius: 15px;
    
}

@media (max-width: 768px) {
  .products {
    flex-direction: column;
  }
}

.product img {
  width: 100%;
  margin-bottom: 6px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

button {
    display: inline-block;
    margin-top: 5px;
    background: darkorange;
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}

.sosmed i {
    font-size: 24px;
    color: #ff5f7e;
}

.sosmed i:hover {
    color: #ff2f5e;
}